.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("./asset/White-Heaven-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  width: 100%;
  min-height: 100vh;
}

.tiles-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.weather-form {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .tiles-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px calc((100% - (120px * 2)) / 2);
  }
}
